DistanceMeasurement/inputTest2.in
TestFiles/*
dnCalculation/*.npy
dnCalculation/timingProfile.dat
dnCalculation/__pycache__/dnModule_Nico.cpython-37.pyc
dnCalculation/__pycache__/dnModule.cpython-37.pyc
*/*.out
dnCalculation/pfTiming.dat
DipoleCalculation/input2.in
