DistanceMeasurement/inputTest*.in
DistanceMeasurement/test*
TestFiles/*
dnCalculation/*.npy
dnCalculation/timingProfile.dat
dnCalculation/__pycache__/dnModule_Nico.cpython-37.pyc
dnCalculation/__pycache__/dnModule.cpython-37.pyc
*/*.out
dnCalculation/pfTiming.dat
DipoleCalculation/input2.in
DipoleCalculation/input3.in
FreeEnergy/test*
DistanceMeasurement/inputTest2.in
DistanceMeasurement/input_wrapping_test.in
DistanceMeasurement/inputTest2.in
DistanceMeasurement/test2.out
DistanceMeasurement/inputTest2.in
research_scripts.egg-info/*