DistanceMeasurement/inputTest2.in
TestFiles/*
dnCalculation/outputRef.npy
dnCalculation/pfMatrixRef.npy
dnCalculation/pfTiming.dat
dnCalculation/referenceOutput.npy
dnCalculation/testNico.out.npy
dnCalculation/testNico2.npy
dnCalculation/timingProfile.dat
dnCalculation/__pycache__/dnModule_Nico.cpython-37.pyc
dnCalculation/__pycache__/dnModule.cpython-37.pyc
H-Bonds/test.out
H-Bonds/test2.out
DipoleCalculation/test.out
Miscellaneous/outfile.out
Miscellaneous/output.out